.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}

.flex-item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.flex-item-grow {
    flex-grow: 2;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-bottom {
    align-self: flex-end;
}

.center-items {
    justify-content: center;
    align-items: center;
}

.column-direction {
    flex-direction: column;
}