/* თქვენი დავალებაა, რომ პარაგრაფების და ღილაკების ტექსტის ფერი იყოს თეთრი და ფონის ფერი ყვითელი. მეორე დონის სათაურების განლაგება კი იყოს ცენტრში --> */

p,button {
    color: white;
    background-color: yellow;
}
h2 {
    text-align: center;
}