#h100 {
    background-color: orange;
    color: red;
    font-size: medium;
    border-style: solid;
}

#paragrap00 {
    background-color: orange;
    color: red;
    font-size: medium;
    border-style: solid;
}

#button00 {
    background-color: rgb(60, 2, 78);
    color: rgb(22, 180, 24);
    font-size: large;
    border-style: dotted;
}

table {
    border-style: solid;
}
