#redDiv {
    width: 400px;
    height: 400px;
    background-color: #FF0000; /* წითელი */
}

#greenDiv {
    width: 200px;
    height: 100px;
    background-color: #00FF00; /* მწვანე */
}

#blueDiv {
    width: 50px;
    height: 100px;
    background-color: #0000FF; /* ლურჯი */
}
